body{
    margin: 0px;
    box-sizing: border-box;
    background-color:red;
    background-image: url(blood-draw-2722940_1920.jpg);
    background-size:100vw 100vh;
    background-repeat: no-repeat;
}
#loginpg{
    width:fit-content;
    height: 100px;
    padding: 100px;
    background-color: whitesmoke;
    margin: auto;
    margin-top: 30vh;
    border-radius: 30px;
    
}
.inputs{
   padding-bottom: 15px;
   font-size: 1.3rem;
}
button{
    border-radius: 100px;
    padding: 5px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color:  red;
    color: white;
    border: 0px;
}
.login{
    text-align: center;
}
.ibox{
    padding: 5px;
    margin-left: 20px;
}
